<?xml version="1.0"?>
<!--
   Copyright 2004, 2005 The Apache Software Foundation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
    <properties>
        <title>Gaderian Downloads</title>
    </properties>
    <body>
        <section name="Maven 2">


            <p>To use Gaderian modules within your Maven 2 enabled project, simply add the following repository to
                your pom:
            </p>
            <source><![CDATA[
                    ...
                    <repositories>
                        ...
                       <repository>
                          <id>ops4j-repo</id>
                          <name>OPS4J Maven 2 Repository</name>
                          <url>http://repository.ops4j.org/maven2/</url>
                       </repository>
                    </repositories>]]>
            </source>
            <p>Next, add the dependencies for the modules of Gaderian that you wish to use:</p>
            <source><![CDATA[
                    <dependencies>
                        ...
                        <dependency>
                         <groupId>org.ops4j.gaderian</groupId>
                         <artifactId>gaderian</artifactId>
                         <version>${project.version}</version>
                       </dependency>
                       
                      <dependency>
                        <groupId>org.ops4j.gaderian</groupId>
                        <artifactId>gaderian-util</artifactId>
                        <version>${project.version}</version>
                      </dependency>
                       
                       
                    </dependencies>]]>
            </source>

        </section>

    </body>
    </document>